@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 1;
    font-family: 'Montserrat', 'Open Sans';
    color: var(--Font_color);
    
    padding-bottom: 0px;
    background-color: var(--Main_background);
}
